.synthesis
  padding 10px 20px
  background #FFF
  border-radius 5px
  box-shadow 0 26px 40px -24px rgba(44, 9, 9, 0.2)
  .synthesis_Tag
    width 18rem
    max-height 28.75rem
    .is-top
      .el-tabs__nav-scroll
        width 100%
        .el-tabs__nav
          .el-tabs__active-bar
            display none
    .el-tabs__nav-wrap
      &:after
        background-color #FFF
